<%= form_for(@commitment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name..." %>
    <%= f.text_field :wager, placeholder: "Wager..." %>
	<%= f.date_select :checkin_date %>
  </div>
  <%= f.submit "Add Commitment", class: "btn btn-large btn-primary" %>
<% end %>