<%= form_for(@checkin) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% commitment = Commitment.find(3) %>
  <div class="field">
    <%= f.label commitment.name %><br />
  </div>
  <div class="field">
    <%= f.label :checkin_date %><br />
    <%= f.date_select :checkin_date %>
  </div>
  <div class="field">
    <%= f.label "Did you do it?" %>
    <table>
    	<tbody>
    		<tr>
    			<td><%= f.radio_button :status, '1', :checked => true %></td> 
				<td><%= f.label :status, 'Yes' %></td>
		  	</tr>
    		<tr>
    			<td><%= f.radio_button :status, '0' %></td> 
				<td><%= f.label :status, 'No' %></td>
		  	</tr>

		</tbody>
  	</table>
  </div>
  <%= f.hidden_field :commitment_id, :value => commitment.id %> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
